.DS_Store
.vscode
__pycache__

venv
training-venv
evaluation-venv

wandb
train_runs/*
preprocessing_runs/*

learning
preprocessing

toontrack_extracted_selected-genres
toontrack_trimmed_selected-genres
toontrack_pack
